// BACKGROUND COLOR
$bg-white: #FFFFFF;
$bg-white-1: #FFFFFF1A;
$bg-white-2: #FFFFFF80;
$bg-green: #39FFBF;
$bg-green-ligth: #35FFBF;
$bg-blue: #527CEB;
$bg-red: #F00E2E;
$bg-red-ligth: #F81D39;
$bg-grey: #3D3D3D;
$bg-grey-1: #333333;
$bg-purple: #1F1E38;
$bg-black: #000000B3;
$bg-black-1: #000000E6;

// TEXT COLOR
$tx-white: #FFFFFF;
$tx-green: #39FFBF;
$tx-grey: #AAAAAA;
$tx-grey-1: #818A91;
$tx-grey-2: #888888;
$tx-grey-3: #444444;
$tx-grey-4: #3D3D3D;
$tx-blue: #1BB0CE;
$tx-red: #F81D39;
$tx-purple: #1F1E38;
$tx-purple-1: #1F1E38B3;
$tx-purple-2: #1F1E3880;
$tx-purple-3: #1F1E3899;
$tx-black: #000000;

// FILL COLOR
$fill-white: #FFFFFF;
$fill-black: #000000;

// BORDER COLOR
$border-white: #FFFFFF;
$border-white: #FFFFFF26;